.rregiste {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: left;
  justify-content: left;
}

.rregisterWrappe {
  width: 70%;
  height: 70%;
  display: flex;
}

.rregisterLef{

  background-color: white;
  border-radius: 10px;
  margin-top:5%;
  justify-content: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-left: 10%;
}

.rregisterLog {
  margin-left:2%;
  font-size: 20px;
  font-weight: 800;
  color:black;
  margin-bottom: 7px;
  margin-top: 50px;
}
.rregist{
  margin-left:2%;
}

.rregisterDesc {
  font-size: 24px;
  
}

.rregisterBo{
    height: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.rregisterInpu{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.rregisterInpu:focus{
    outline: none;
}

.rregisterButton{
    height: 50px;
    width: 20%;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(12, 177, 12);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding:5px;
}

.rregisterForgot{
    text-align: center;
    color: #1775ee;
}

.rregisterRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.rregistoConten{
  text-align: left;
  font-weight: 1000;
  margin-top: 1%;
}


.cCheckBoxContaine{
  font-size:110%;
  height: 200px;
  width: 200px;
  vertical-align: middle;
  padding: 10px;
  display:flex;
  flex-direction:column;
}

  .Upload{
      justify-content: space-between;
      vertical-align: bottom;
  }

  .AddPhotoAlternate{
      vertical-align: bottom;
  }

  .registerRegisterButton{
      margin-top: 10px;
  }